main>section{
    display: flex;
    margin: 40px;
    justify-content: space-between;
    gap: 30px;
}
main>section>.about{
padding: 40px;
}
main>section>.about>button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
}